.titleLeft{
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    color: white;
    text-shadow: 0px 0px 10px rgb(3, 3, 3);
    left: 20%;
}

.questionLeft{
    color: #fff;
    font-size: 30px;
    position: relative;
    text-justify: center;
    padding-top: 20px;
    left: 20%;
}

.buttonLeft{
    position: relative;
    width: 150px;
    height: 30px;
    text-justify: center;
    margin: 20px;
    left: 20%;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    background-color: #FFC312;
}

.buttonLeft:hover{
    color: black;
    background-color: white;
    }