@import url('https://www.dafont.com/es/designer.font');


@font-face {
    font-family: 'Designer';
    font-style: normal;
    font-weight: 400;
    src: local('Designer'), local('Designer'), url(https://www.dafont.com/es/designer.font) format('otf');
  }
  

.rec-dot_active {
    background-color: var(--white) !important;
    box-shadow: 0 0 1px 3px var(--white) !important;
}
.rec-dot:focus,
.rec-dot:hover {
    border-radius: 50%;
    box-shadow: 0 0 1px 3px var(--white) !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
    background-color: var(--white) !important;
    box-shadow: 0 0 1px 3px var(--white) !important;
}

.rec-arrow {
    margin: 30px;
    background-color: var(--white) !important;
    transition: all 0.3s ease;
    font-size: 2rem !important;
    color: black !important;

   
}

.rec.rec-arrow {
    border-radius: 40%;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
}

