

@import url('https://fonts.googleapis.com/css?family=Numans');


@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
  }

html,body{
/*background-image: url('https://www.xtrafondos.com/descargar.php?id=3593&resolucion=3840x2160');*/
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.title h1{
    
    font-family: "Monoton",sans-serif;
    font-size: 60px;
    color: #ffa;
    text-shadow: 0 0 30px #fff;
    text-align: center;
    padding: 10%;
}

.container{
height: 100%;
align-content: center;

}

.card{
    position: relative;
    transform: translate(0%, -10%);
    margin-top: auto;
    margin-bottom: auto;
    /*width: 400px;*/
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
    
color: white;
}

.midLetter {
    height: 370px;
    width: 400px;
    text-align:center;
    color:white
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}



