.color{
    background-color: rgba(85, 85, 32, 0.151);
}

.pageTitle{
    font-size: 5.5vh ;
    position: relative;
    left: -3%;
    text-align: center;
    /*color: #272343;*/
    background-color: white;
    color: rgb(0, 0, 0);
    border: 0.2rem solid white;
    border-radius: 5rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem black,
              0 0 0.8rem black,
              0 0 2.8rem black,
              inset 0 0 1.3rem black; 

}

.pictures .picture2  img{
    
    rotate: 10deg;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 5%;
    left: 80%;
  }


.pictures .picture img {
    
    rotate: 10deg;
    position: absolute;
    height: 350px;
    width: 350px;
    top: 60%;
    left: auto;
  }

  .backgroundPage{
    background: linear-gradient(to right, rgba(18, 18, 19, 0.50) 50%, rgba(88, 88, 83, 0.5) 50%);
    width:  100%;
    height: 100vh;
  }
.wrapped{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container{
    text-align: center;
    grid-column: 1/2;
    grid-row: 15;
}
.containerRight{
    text-align: center;
    grid-column: 3;
    grid-row: 15;
}

.titleLeft{
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    color: white;
    text-shadow: 0px 0px 10px rgb(3, 3, 3);
    left: 20%;
}

.questionLeft{
    color: #fff;
    font-size: 30px;
    position: relative;
    text-justify: center;
    padding-top: 20px;
    left: 20%;
}

.buttonLeft{
    position: relative;
    width: 150px;
    height: 30px;
    text-justify: center;
    margin: 20px;
    left: 20%;
    font-size: 15px;
    border-radius: 10px;
}

.titleRight{
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    color:#fff;
    text-shadow: 0px 0px 10px rgb(3, 3, 3);
    left: -20%;
    
}
.questionRight{
    color: #fff;
    font-size: 25px;
    position: relative;
    text-justify: center;
    padding-top: 20px;
    left: -20%;
}

.buttonRight{
<<<<<<< HEAD
    position: relative;
    width: 150px;
    height: 30px;
    text-justify: center;
    margin: 25px;
    left: -20%;
    font-size: 15px;
    border-radius: 10px;
}

.containerCenter{
    grid-column: 2;
    grid-row: 7;
}
=======
    position: absolute;
    top: 64.7%;
    left: 72%;
    font-size: 2.3vh;
    border-radius: 1.3vh;
}

.button{
    position: absolute;
    top: 90%;
    left: 45%;
    font-size: 2.3vh;
    border-radius: 1.3vh;
    color: black;
    background-color: #FFC312;
}

    
    .button:hover{
    color: black;
    background-color: white;
    }
>>>>>>> 04c83899253f03e45e1bf33e4fcfab7c31de1be2
