
.pageTitle{
    font-size: 8vh;
    position: absolute;
    padding: 2.5vh;
    top: 10vh;
    left: 65vh;
    /*color: #272343;*/
    background-color: white;
    color: rgb(0, 0, 0);
    border: 0.2rem solid white;
    border-radius: 5rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem black,
              0 0 0.8rem black,
              0 0 2.8rem black,
              inset 0 0 1.3rem black; 

}

.picture2 img{
    
    rotate: 10deg;
    position: absolute;
    height: 250px;
    width: 250px;
    transform: translate(650%,-80%) ;
  }




.picture img{
    
    rotate: 10deg;
    position: absolute;
    height: 350px;
    width: 350px;
    transform: translate(30%,160%) ;
  }
  


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #272343;
    height: 100vh;
}

.left{
    background: #BAE8E8;
    display: flex;
    place-items: center;
    text-align: center;
    justify-content: center;
}
.right{

    justify-content: center;

}

.titleLeft{
    position: absolute;
    top: 40vh;
    left: 28vh;
    color: #272343;
    text-align: center;
    align-items: center;
    font-size: 6vh;
    padding: 0.5vh;
}

.questionLeft{
    position: absolute;
    top: 50vh;
    left: 5vh;
    color: #272343;
    align-items: center;
    text-align: center;
    font-size: 3.4vh;
    padding: 1.9vh;
}

.titleRight{
    position: absolute;
    top: 40vh;
    left: 135vh;
    color: #BAE8E8;
    text-align: center;
    align-items: center;
    font-size: 6vh;
    padding: 0.5vh;
}

.questionRight{
    position: absolute;
    top: 50vh;
    left: 105vh;
    color: #BAE8E8;
    align-items: center;
    text-align: center;
    font-size: 3.4vh;
    padding: 1.9vh;
}

.buttonLeft{
    position: absolute;
    top: 64.7vh;
    left: 35vh;
    font-size: 2.3vh;
    border-radius: 1.3vh;
}

.buttonRight{
    position: absolute;
    top: 64.7vh;
    left: 144.9vh;
    font-size: 2.3vh;
    border-radius: 1.3vh;
}